---
- name: "DEBIAN | Install packages"
  ansible.builtin.package:
    name: "{{ packages_common | default([]) + packages_family | default([]) + packages_distrib | default([]) + packages_distrib_version | default([]) + packages_extra | default([]) }}"
    state: present
    update_cache: true
  register: __pkg_result
  retries: 12
  delay: 10
  until: __pkg_result is success
  when:
    - (packages_common is defined and packages_common|length>0) or
      (packages_family is defined and packages_family|length>0) or
      (packages_distrib is defined and packages_distrib|length>0) or
      (packages_distrib_version is defined and packages_distrib_version|length>0) or
      (packages_extra is defined and packages_extra|length>0)

- name: "DEBIAN | Remove packages"
  ansible.builtin.apt:
    name: "{{ packages_rm_common | default([]) + packages_rm_family | default([]) + packages_rm_distrib | default([]) + packages_rm_distrib_version | default([]) + packages_rm_extra | default([]) }}"
    state: absent
    purge: "{{ package_purge_onremove }}"
    update_cache: true
  register: __pkg_result
  retries: 12
  delay: 10
  until: __pkg_result is success
  when:
    - (packages_rm_common is defined and packages_rm_common|length>0) or
      (packages_rm_family is defined and packages_rm_family|length>0) or
      (packages_rm_distrib is defined and packages_rm_distrib|length>0) or
      (packages_rm_distrib_version is defined and packages_rm_distrib_version|length>0) or
      (packages_rm_extra is defined and packages_rm_extra|length>0)
