---
- name: "REDHAT | Install extra repositories"
  when: packages_install_epel_repo is defined and packages_install_epel_repo|bool
  block:
    - name: "Check if EPEL repo is already configured"
      ansible.builtin.stat:
        path: "/etc/yum.repos.d/epel.repo"
      register: epel_repo

    - name: "Install requierements"
      ansible.builtin.dnf:
        name: ["gnupg2"]
        state: present
      become: true
      register: __pkg_result
      retries: 12
      delay: 10
      until: __pkg_result is success
      when: ansible_distribution in ['OracleLinux'] and ansible_distribution_major_version == '10'

    - name: "REDHAT | Import EPEL GPG key."
      ansible.builtin.rpm_key:
        key: "https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}"
        state: present
      when: not epel_repo.stat.exists

    - name: "REDHAT | Installing epel-release"
      ansible.builtin.dnf:
        name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
        state: present
      register: __pkg_result
      retries: 12
      delay: 10
      until: __pkg_result is success
      when: not epel_repo.stat.exists

#    - name: "OracleLinux | Installing oracle-epel-release-el7"
#      ansible.builtin.yum:
#        name: "oracle-epel-release-el7"
#        state: present
#      register: __pkg_result
#      retries: 12
#      delay: 10
#      until: __pkg_result is success
#      when: ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "7"

- name: "REDHAT | Install packages"
  ansible.builtin.dnf:
    name: "{{ [packages_common, packages_family, packages_distrib, packages_distrib_version, packages_extra] | map('default', []) | flatten }}"
    state: present
  register: __pkg_result
  retries: 12
  delay: 10
  until: __pkg_result is success
  when:
    - (packages_common is defined and packages_common|length>0) or
      (packages_family is defined and packages_family|length>0) or
      (packages_distrib is defined and packages_distrib|length>0) or
      (packages_distrib_version is defined and packages_distrib_version|length>0) or
      (packages_extra is defined and packages_extra|length>0)

- name: "REDHAT | Remove packages"
  ansible.builtin.dnf:
    name: "{{ [packages_rm_common, packages_rm_family, packages_rm_distrib, packages_rm_distrib_version, packages_rm_extra] | map('default', []) | flatten }}"
    state: absent
  register: __pkg_result
  retries: 12
  delay: 10
  until: __pkg_result is success
  when:
    - (packages_rm_common is defined and packages_rm_common|length>0) or
      (packages_rm_family is defined and packages_rm_family|length>0) or
      (packages_rm_distrib is defined and packages_rm_distrib|length>0) or
      (packages_rm_distrib_version is defined and packages_rm_distrib_version|length>0) or
      (packages_rm_extra is defined and packages_rm_extra|length>0)

- name: "REDHAT | Remove packages relationship"
  ansible.builtin.shell: yum remove -y `package-cleanup --leaves`
  with_sequence: count=3
  changed_when: false
  when:
    - package_repo_yum_cleanup is defined
    - package_repo_yum_cleanup|bool

- name: "REDHAT | Packages clean all"
  ansible.builtin.shell: yum clean all && rm -rf /var/cache/yum
  changed_when: false
  when:
    - package_repo_yum_cleanup is defined
    - package_repo_yum_cleanup|bool
